* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

form {
    width: 350px;
    margin: 40px auto;
}

label {
    display: block;
    width: 350px;
    padding: 10px 5px;
    font-weight: bold;

}

input {
    display: block;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;

}

button {
    padding: 5px 16px;
    color: black;
    background-color: springgreen;
    border: 0.5px solid black;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(135, 253, 135);
}

p {
    display: none;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
}